CONFIG VCCAUX  = 3.3;

NET "SYSCLK" TNM_NET = "SYSCLK";
TIMESPEC TS_SYSCLK = PERIOD "SYSCLK" 100 MHz HIGH 50 %;


#NET "DDR_RESET_" LOC = D8;
#NET "CK0_P" LOC = B8;
#NET "CK0_N" LOC = A8;
#NET "CKE0" LOC = B1;
#NET "CK1_P" LOC = B6;
#NET "CK1_N" LOC = A6;
#NET "CKE1" LOC = C1;
#NET "RAS_" LOC = D11;
#NET "CAS_" LOC = B10;
#NET "WE_" LOC = A10;
#NET "S0_" LOC = A11;
#NET "S1_" LOC = A12;
#NET "BA0" LOC = C11;
#NET "BA1" LOC = D9;
#NET "BA2" LOC = A2;
#NET "MA0" LOC = C9;
#NET "MA1" LOC = C8;
#NET "MA2" LOC = A7;
#NET "MA3" LOC = D7;
#NET "MA4" LOC = C6;
#NET "MA5" LOC = D6;
#NET "MA6" LOC = C7;
#NET "MA7" LOC = A5;
#NET "MA8" LOC = C5;
#NET "MA9" LOC = E3;
#NET "MA10" LOC = C10;
#NET "MA11" LOC = H4;
#NET "MA12" LOC = A3;
#NET "MA13" LOC = B12;
#NET "MA14" LOC = B2;
#NET "MA15" LOC = C3;

#NET "DM0" LOC = T1;
#NET "DQS0_P" LOC = W3;
#NET "DQS0_N" LOC = W1;
#NET "DQ0" LOC = V2;
#NET "DQ1" LOC = U1;
#NET "DQ2" LOC = U4;
#NET "DQ3" LOC = U3;
#NET "DQ4" LOC = Y2;
#NET "DQ5" LOC = V1;
#NET "DQ6" LOC = V3;
#NET "DQ7" LOC = T3;

#NET "DM1" LOC = R3;
#NET "DQS1_P" LOC = P2;
#NET "DQS1_N" LOC = P1;
#NET "DQ8" LOC = M2;
#NET "DQ9" LOC = T4;
#NET "DQ10" LOC = N3;
#NET "DQ11" LOC = M1;
#NET "DQ12" LOC = T2;
#NET "DQ13" LOC = R1;
#NET "DQ14" LOC = N1;
#NET "DQ15" LOC = M3;

#NET "DM2" LOC = L3;
#NET "DQS2_P" LOC = H2;
#NET "DQS2_N" LOC = H1;
#NET "DQ16" LOC = K1;
#NET "DQ17" LOC = K2;
#NET "DQ18" LOC = L4;
#NET "DQ19" LOC = K3;
#NET "DQ20" LOC = L1;
#NET "DQ21" LOC = J1;
#NET "DQ22" LOC = K4;
#NET "DQ23" LOC = J3;

#NET "DM3" LOC = G1;
#NET "DQS3_N" LOC = F1;
#NET "DQS3_P" LOC = F2;
#NET "DQ24" LOC = G3;
#NET "DQ25" LOC = G4;
#NET "DQ26" LOC = F3;
#NET "DQ27" LOC = D1;
#NET "DQ28" LOC = J4;
#NET "DQ29" LOC = H3;
#NET "DQ30" LOC = E1;
#NET "DQ31" LOC = D2;

#NET "DM4" LOC = C16;
#NET "DQS4_P" LOC = B14;
#NET "DQS4_N" LOC = A14;
#NET "DQ32" LOC = D15;
#NET "DQ33" LOC = A16;
#NET "DQ34" LOC = E16;
#NET "DQ35" LOC = B16;
#NET "DQ36" LOC = C15;
#NET "DQ37" LOC = A15;
#NET "DQ38" LOC = D14;
#NET "DQ39" LOC = A17;

#NET "DM5" LOC = D22;
#NET "DQS5_P" LOC = B21;
#NET "DQS5_N" LOC = B22;
#NET "DQ40" LOC = A20;
#NET "DQ41" LOC = C17;
#NET "DQ42" LOC = D17;
#NET "DQ43" LOC = C22;
#NET "DQ44" LOC = A18;
#NET "DQ45" LOC = B18;
#NET "DQ46" LOC = A21;
#NET "DQ47" LOC = C20;

#NET "DM6" LOC = E22;
#NET "DQS6_P" LOC = F21;
#NET "DQS6_N" LOC = F22;
#NET "DQ48" LOC = E20;
#NET "DQ49" LOC = D21;
#NET "DQ50" LOC = F20;
#NET "DQ51" LOC = F18;
#NET "DQ52" LOC = C19;
#NET "DQ53" LOC = D20;
#NET "DQ54" LOC = D19;
#NET "DQ55" LOC = G20;

#NET "DM7" LOC = H19;
#NET "DQS7_P" LOC = H21;
#NET "DQS7_N" LOC = H22;
#NET "DQ56" LOC = J22;
#NET "DQ57" LOC = G22;
#NET "DQ58" LOC = H20;
#NET "DQ59" LOC = K22;
#NET "DQ60" LOC = F19;
#NET "DQ61" LOC = G19;
#NET "DQ62" LOC = J19;
#NET "DQ63" LOC = K21;


NET "B0_GPIO0" LOC = C14;
NET "B1_GPIO1" LOC = H18;
NET "B1_GPIO2" LOC = L17;
NET "B1_GPIO3" LOC = M19;
NET "B1_GPIO4" LOC = J17;
NET "B1_GPIO5" LOC = K17;
NET "B1_GPIO6" LOC = L20;
NET "B1_GPIO7" LOC = L22;
NET "B1_GPIO8" LOC = K20;
NET "B1_GPIO9" LOC = K19;
NET "B1_GPIO10" LOC = M20;
NET "B1_GPIO11" LOC = L19;
NET "B1_GPIO12" LOC = M21;
NET "B1_GPIO13" LOC = M22;
NET "B1_GPIO14" LOC = N20;
NET "B1_GPIO15" LOC = N22;
#NET "B1_GPIO16" LOC = R20;
#NET "B1_GPIO17" LOC = R22;
#NET "B1_GPIO18" LOC = T21;
#NET "B1_GPIO19" LOC = T22;
#NET "B1_GPIO20" LOC = U20;
#NET "B1_GPIO21" LOC = U22;
#NET "B1_GPIO22" LOC = V21;
#NET "B1_GPIO23" LOC = V22;
NET "B1_GPIO24" LOC = W20;
NET "B1_GPIO25" LOC = W22;


NET "SDI_PCLK" LOC = AA12;
NET "SDI_HS" LOC = Y3;
NET "SDI_VS" LOC = U6;
NET "SDI_INT" LOC = Y4;
NET "SDV<0>" LOC = AA2;
NET "SDV<1>" LOC = AB2;
NET "SDV<2>" LOC = AB3;
NET "SDV<3>" LOC = AA4;
NET "SDV<4>" LOC = AB4;
NET "SDV<5>" LOC = AB5;
NET "SDV<6>" LOC = Y5;
NET "SDV<7>" LOC = W6;

NET "HDI_PCLK" LOC = Y12;
NET "HDI_VS" LOC = AB6;
NET "HDI_HS" LOC = AB7;
NET "HDI_DE" LOC = V5;
NET "HDI_INT" LOC = AA6;
NET "RGB_IN<0>" LOC = Y6;
NET "RGB_IN<1>" LOC = W8;
NET "RGB_IN<2>" LOC = Y7;
NET "RGB_IN<3>" LOC = AA8;
NET "RGB_IN<4>" LOC = Y8;
NET "RGB_IN<5>" LOC = W9;
NET "RGB_IN<6>" LOC = T7;
NET "RGB_IN<7>" LOC = W10;
NET "RGB_IN<8>" LOC = Y9;
NET "RGB_IN<9>" LOC = Y10;
NET "RGB_IN<10>" LOC = W11;
NET "RGB_IN<11>" LOC = Y11;
NET "RGB_IN<12>" LOC = W13;
NET "RGB_IN<13>" LOC = V15;
NET "RGB_IN<14>" LOC = Y14;
NET "RGB_IN<15>" LOC = W15;
NET "RGB_IN<16>" LOC = Y15;
NET "RGB_IN<17>" LOC = Y16;
NET "RGB_IN<18>" LOC = Y17;
NET "RGB_IN<19>" LOC = U14;
NET "RGB_IN<20>" LOC = W18;
NET "RGB_IN<21>" LOC = Y18;
NET "RGB_IN<22>" LOC = Y19;
NET "RGB_IN<23>" LOC = AA21;

NET "HDO_PCLK" LOC = AB13;
NET "HDO_VS" LOC = AB9;
NET "HDO_HS" LOC = AA10;
NET "HDO_DE" LOC = AB10;
NET "HDO_INT" LOC = AB8;
NET "RGB_OUT<0>" LOC = AB11;
NET "RGB_OUT<1>" LOC = W14;
NET "RGB_OUT<2>" LOC = AB12;
NET "RGB_OUT<3>" LOC = AA14;
NET "RGB_OUT<4>" LOC = AB14;
NET "RGB_OUT<5>" LOC = AB15;
NET "RGB_OUT<6>" LOC = AA16;
NET "RGB_OUT<7>" LOC = AB16;
NET "RGB_OUT<8>" LOC = AB17;
NET "RGB_OUT<9>" LOC = AA18;
NET "RGB_OUT<10>" LOC = AB18;
NET "RGB_OUT<11>" LOC = AB19;
NET "RGB_OUT<12>" LOC = AB21;
NET "RGB_OUT<13>" LOC = V7;
NET "RGB_OUT<14>" LOC = V9;
NET "RGB_OUT<15>" LOC = U13;
NET "RGB_OUT<16>" LOC = V13;
NET "RGB_OUT<17>" LOC = T11;
NET "RGB_OUT<18>" LOC = V11;
NET "RGB_OUT<19>" LOC = R11;
NET "RGB_OUT<20>" LOC = U9;
NET "RGB_OUT<21>" LOC = R9;
NET "RGB_OUT<22>" LOC = R8;
NET "RGB_OUT<23>" LOC = R7;

NET "I2C_SDA" LOC = W4;
NET "I2C_SCL" LOC = Y13;

NET "SYSCLK" LOC = W12;





#NET "GPIO0" IOSTANDARD = LVCMOS15  | SLEW = FAST | DRIVE = 8;
NET "RGB_*" IOSTANDARD = LVCMOS33;
NET "B1_*" IOSTANDARD = LVCMOS33;
NET "HD*" IOSTANDARD = LVCMOS33;
NET "SD*" IOSTANDARD = LVCMOS33;

NET "SYSCLK" IOSTANDARD = LVCMOS33;
#NET "I2C_SDA" IOSTANDARD = "I2C";
#NET "I2C_SCL" IOSTANDARD = "I2C";

NET "I2C_SDA" PULLUP;
NET "I2C_SCL" PULLUP;
NET "I2C_SDA" IOSTANDARD = LVCMOS33;
NET "I2C_SCL" IOSTANDARD = LVCMOS33;
