
#Created by Constraints Editor (xc6slx45-fgg484-3) - 2019/03/27
NET "MCLK" TNM_NET = MCLK;
TIMESPEC TS_MCLK = PERIOD "MCLK" 100 MHz HIGH 50%;
NET "PCLK" TNM_NET = PCLK;
TIMESPEC TS_PCLK = PERIOD "PCLK" 150 MHz HIGH 50%;
